header {
    width: 100%;
    
    background-color: #182a4d;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


.logo {
    height: 200px;
    padding-left: 80px;
}

.navbar {
    flex-grow: 1;            
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    gap: 40px;
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(196,196,196);
}

.buttons{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    padding-bottom: 130px;
}
.headerbtn {
    background-color: white;
    color: #182a4d;
    font-size: 20px;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
}

.headerbtn:hover{

    color: white;
    background-color: #334872;
}

.main_block {
    display: flex;
    width: 100%;
    min-height: 80vh;
}

.main_block > * {
    flex: 1; 
}

.main_block img {
    margin-left: 100px;
    padding-top: 100px;
    max-width: 600px;
    max-height: 900px;
    object-fit: cover;
    padding-bottom: 30px;
}


.booking_block{
    margin-left: 300px;
    margin-right: 100px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.booking_block h1{

    font-weight: bold;
    font-size: 40px;
    font-family: Montserrat,sans-serif;
}

.booking_block button{

    width: 400px;
    border-radius: 20px;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    background-color: #182a4d;
    color: white;
    border-color: white;
}

.booking_block button:hover{

    background-color: #334872;
}

.booking_block {

    padding: 30px;
    font-size: 20px !important;
    font-family: Montserrat,sans-serif !important;
    font-weight: bold;
    border-radius: 20px;
}

footer{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Montserrat;

}