header{

    width: auto;
    height: 300px;
    background-color: rgb(54, 54, 82);
    padding-top: 100px;

}

.navbar{

    width: 700px;
    height: 100px;
    margin-left: 300px;
}

.navbar-nav{
    background-color: rgb(54, 54, 82);
    font-size: 30px;
    font-family:Montserrat,sans-serif;
    font-weight: bold;
    padding: 5px;
}

.nav-link{

    color: white;
    text-shadow: 1em;
}

.nav-link:hover{

    color: rgb(196, 196, 196);
}

.logo{

    width: 200px;
    height: 200px;
    
}

.logo img{

    width: 200px;
    height: 200px;
    object-fit: cover;
}
